* {
    margin: 0px;
    padding: 0px;
}
body, td, th {
    font: 12px Verdana, Arial, Helvetica, Sans-serif;
    color: black;
    line-height: 20px;
}
body {
    background: #454545;
}
p {
    margin-bottom: 10px;
}
a {
    text-decoration: none;
}
form {
    margin: 0px auto;
}
fieldset {
    padding: 10px;
    border: 1px solid silver;
    text-align: left;
    margin: 0px auto;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
legend {
    text-transform: uppercase;
    color: #0A71A5;
    font: bold 14px Geneva, Arial, Helvetica, Sans-serif;
}
input, select {
    padding: 3px;
}
.form_label {
    display: inline-block;
    width: 70px;
    padding: 3px;
    font-style: italic;
    vertical-align: middle;
}
.form_item {
    display: inline-block;
    padding: 3px;
    vertical-align: middle;
}
.textbox {
    width: 250px;
    border: 1px solid silver;
}
.button {
    padding: 3px 20px 3px 20px;
    background-color: #A8D3FF;
    border: 1px solid #51A8FF;
    cursor: pointer;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.button:hover {
    background-color: #FFCBB3;
    border: 1px solid #FF702B;
}
.error_msg {
    text-align: left;
    font-style: italic;
    color: black;
    padding: 20px 5px 20px 60px;
    border: 1px solid red;
    background: pink url("../images/warning.png") no-repeat 15px center;
}
.clearfix {
    clear: both;
}
.readmore {
    background: #4E80CA;
    border: 1px solid #2857C4;
    color: white;
    padding: 0px 12px;
    /* CSS 3 */
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.readmore:hover {
    background: pink;
    border: 1px solid red;
    color: red;
}
/* For Layout*/
#layout {
    width: 800px;
    margin: 20px auto;
}
/* For Top */
#top {
    height: 100px;
    line-height: 100px;
    background: #3593C9;
    color: white;
    text-align: center;
    font-weight:  bold;
    /* CSS 3 */
    border-radius: 12px 12px 0px 0px;
    -moz-border-radius: 12px 12px 0px 0px;
    -webkit-border-radius: 12px 12px 0px 0px;
}
/* For topmenu */
#topmenu {
    height: 30px;
    background: #E76637;
    margin-left: 200px;
}
#topmenu ul {
    margin: 0px;
    padding-bottom: 20px;
    list-style-type: none;
}
#topmenu li {
    border-bottom: 1px dotted #6C9FE6;
    height: 30px;
    line-height: 30px;
    position: relative;
}
#topmenu li a {
    border-left: 5px solid #23457A;
    padding: 0px 10px;
    color: white;
    font-weight: bold;
    display: block;
}
#topmenu li a:hover {
    border-left: 5px solid #D98A3A;
    color: #082656;
}
#topmenu li ul {
    background: #3A72C0;
    display: none;
    width: 200px;
    padding: 0px;
}
#topmenu li:hover > ul {
    display: block;
    position: absolute;
    left: 200px;
    top: 0px;
}
/* Dành cho cấp ul thứ nhất */
#topmenu > ul > li {
    float: left;
    height: 30px;
    line-height: 30px;
    width: 100px;
    border: none;
}
#topmenu > ul > li > a {
    display: block;
    text-align: center;
    padding: 0px;
    border: none;
}
#topmenu > ul > li > a:hover {
    border: none;
    background: #4A7DC5;
    color: white;
}
#topmenu > ul > li:hover > ul {
    left: 0px;
    top: 30px;
}
/* For Content */
#content {
    background: white;
}
/* Left */
#left {
    width: 200px;
    float: left;
    position: relative;
    top: -55px;
}
    /* For leftmenu */
    #left #leftmenu {
        background: #3A72C0 url("../images/bgd-module-spotline.png") repeat -50px top;
        margin-bottom: 10px;
        /* CSS 3 */
        border-radius: 0px 10px 10px 0px;
        -moz-border-radius: 0px 10px 10px 0px;
        -webkit-border-radius: 0px 10px 10px 0px;
    }
    #left #leftmenu h1 {
        height: 40px;
        line-height: 40px;
        padding: 0px 10px;
        color: yellow;
        background: #3A72C0 url("../images/bgd-module-spotline.png") repeat -46px top;
        border-bottom: 1px dotted #ccc;
        font-size: 15px;
        /* CSS 3 */
        border-radius: 0px 10px 0px 0px;
        -moz-border-radius: 0px 10px 0px 0px;
        -webkit-border-radius: 0px 10px 0px 0px;
    }
    #left #leftmenu ul {
        margin: 0px;
        padding-bottom: 20px;
        list-style-type: none;
    }
    #left #leftmenu li {
        border-bottom: 1px dotted #6C9FE6;
        height: 30px;
        line-height: 30px;
        position: relative;
    }
    #left #leftmenu li a {
        border-left: 5px solid #23457A;
        padding: 0px 10px;
        color: white;
        font-weight: bold;
        display: block;
    }
    #left #leftmenu li a:hover {
        border-left: 5px solid #D98A3A;
        color: #082656;
    }
    #left #leftmenu li ul {
        display: none;
        width: 200px;
        padding: 0px;
        border-radius: 0px 10px 10px 0px;
        -moz-border-radius: 0px 10px 10px 0px;
        -webkit-border-radius: 0px 10px 10px 0px;
    }
    #left #leftmenu li ul li:last-child {
        border-radius: 0px 0px 10px 10px;
        -moz-border-radius: 0px 0px 10px 10px;
        -webkit-border-radius: 0px 0px 10px 10px;
    }
    #left #leftmenu li:hover > ul {
        display: block;
        background: #3A72C0;
        position: absolute;
        left: 201px;
        top: 0px;
    }
    #left #leftmenu > ul {
        background: url("../images/mod_title_shadow.png") no-repeat center top;
    }
    /* For login */
    #left #login h1 {
        height: 40px;
        line-height: 40px;
        padding: 0px 10px;
        color: yellow;
        background: #3A72C0 url("../images/bgd-module-spotline.png") repeat -46px top;
        border-bottom: 1px dotted #ccc;
        font-size: 15px;
        /* CSS 3 */
        border-radius: 0px 10px 0px 0px;
        -moz-border-radius: 0px 10px 0px 0px;
        -webkit-border-radius: 0px 10px 0px 0px;
    }
    #left #login .content {
        padding: 10px;
        background: white url("../images/mod_title_shadow.png") no-repeat center -1px;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        /* CSS 3 */
        border-radius: 0px 0px 10px 0px;
        -moz-border-radius: 0px 0px 10px 0px;
        -webkit-border-radius: 0px 0px 10px 0px;
    }
    #left #login .content div.loading {
        text-align: center;
    }
    #left #login .content span.error {
        color: red;
        font-size: 11px;
    }
    #left #login .content input.textbox {
        border: 1px solid #aaa;
        padding: 2px;
        width: 170px;
    }
    #left #login .content input[type=submit] {
        background: #4E80CA;
        border: 1px solid #2857C4;
        color: white;
        padding: 3px 12px;
        margin-top: 10px;
        /* CSS 3 */
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }
    #left #login .content input[type=submit]:hover {
        background: pink;
        border: 1px solid red;
        color: red;
    }
/* Main */
#main {
    width: 560px;
    float: left;
    padding: 20px;
}
#main div.news {
    text-align: justify;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #aaa;
}
#main div.news h1 {
    font: 14px Tahoma;
    color: #204CAA;
    font-weight: bold;
    margin-bottom: 8px;
}
#main div.news img {
    max-width: 552px;
    border: 1px solid #ccc;
    padding: 3px;
    background: white;
}
#main div.news img.thumbs {
    width: 150px;
    float: left;
    border: 1px solid #ccc;
    padding: 3px;
    margin-right: 10px;
}
#main div.news a.readmore {
    float: right;
}
    /* For comment */
    #comment h2 {
        font: bold 15px Geneva, Arial, Helvetica, Sans-serif;
        color: #0E5C94;
        margin: 0px;
        text-transform: uppercase;
    }
    #comment_content {
        margin-bottom: 10px;
    }
    #comment_content .comment_item {
        border: 1px dotted #ccc;
        background: #E0EDFA;
        margin-top: 10px;
        padding: 5px;
    }
    #comment_content .comment_item h3 {
        color: #D1704C;
        font-size: 12px;
        margin: 0px 0px 6px 0px;
    }
    #fComment #txtComment.textbox {
        width: 100%;
    }
/* Right */
#right {
    width: 200px;
    float: left;
}
#right div.module {
    padding: 10px;
}
#right div.module h1 {
    font-size: 16px;
    color: white;
    background: #6C9EDA;
    text-align: center;
    height: 28px;
    line-height: 28px;
    margin-bottom: 10px;
}
#right div.module img {
    width: 172px;
    border: 1px solid #ccc;
    padding: 3px;
}
/* For Bottom*/
#bottom {
    height: 30px;
    line-height: 30px;
    background: #232323;
    color: white;
    text-align: center;
    /* CSS 3 */
    border-radius: 0px 0px 12px 12px;
    -moz-border-radius: 0px 0px 12px 12px;
    -webkit-border-radius: 0px 0px 12px 12px;
}

#pagin-home{
    background: red;
}

#pagin-home ul li{
    float: left;
    margin-left: 20px;
    list-style-type: none;
}